body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

header {
    grid-column: 1/5;
    border-bottom: solid #EFC69B;
    text-align: center;
    margin: 10px;
}
nav {
    display: grid;
    grid-template-columns: repeat(3,100px);
    border-top: solid #EFC69B;
    padding: 20px;
    grid-column: 1/4;
    justify-content: flex-end;
    font-size: 20px;
}

nav a {
    text-decoration: none;
}

h1, h2 {
    font-family: Lora, Impact, serif;
}

h2, a, button {
    color: #AF1B3F;
}

main h2 {
    font-size: 40px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.book {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book_information{
    text-align: right;
    padding: 20px;
    border-right:solid #EFC69B;
}

h3 {
    font-weight: normal;
}

.book_description {
    text-align: left;
    padding: 20px;
}

.picture {
    text-align: center;
}

.filter {
    grid-column: 2/3;
    border: solid #EFC69B;
    text-align: center;
}